:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: linear-gradient(#00000085 10%, #44570F);
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: #00000045;
    color: rgba(255, 255, 255, 0.527);
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
    color: #d88d31;
    /* color: #006C4B; */
    letter-spacing: 1px;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: #00000025;
    color: rgba(255, 255, 255, 0.61);
}

#hiding-places {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.cup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}

.cup-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: auto;
}

.cup-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 10px;
    height: 30px;
    width: auto;
    background-color: #F89820;
    color: #1DFECE;
    font-size: 1.4rem;
}

.cup-button:hover {
    color: #1fcea8;
}

.cup-button:active {
    transform: translateY(3px);
    font-size: 1.2rem;
    background-color: #c07418;
}

#score-display {
    font-size: 1.8rem;
    color: #c07418;
    text-align: center;
    background-color: #00000010;
    padding: 5px 0 5px 0;
    margin-right: 30%;
    margin-left: 30%;
}

.score-container {
    display: grid;
    grid-template-areas: "left middle right";
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1rem;
    color: #d88d31;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    background: linear-gradient(to bottom, #00000010 10%, transparent);
    padding-top: 10px;
    font-size: 1.2rem;
}

#correct-score {
    grid-area: "left";
}

#incorrect-score {
    grid-area: "middle";
}

#total-score {
    grid-area: "right";
}

#reset-container {
    margin-bottom: 10px;
    text-align: center;
}

#reset-button {
    padding: 2px;
    margin-top: 15px;
    font-size: 1.1rem;
    color: black;
    background-color: #17ac8b;
    border-radius: 10px;
}

#reset-button:hover {
    background-color: #17ac8b;
    color: white;
}

#reset-button:active {
    transform: translateY(3px);
    font-size: 1.1rem;
    background-color: #0f9c6e;
}