:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
    color: #006C4B;
    letter-spacing: 1px;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}

#hiding-places {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.cup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.cup-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: auto;
}


.cup-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 10px;
    height: 30px;
    width: auto;
    background-color: #F89820;
    color: #1DFECE;
    font-size: 1.2rem;
}

.cup-button:active {
    transform: translateY(3px);
    font-size: 1.2rem;
    background-color: #c07418;
}


.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #333;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
}

#reset-button {
    margin-top: 15px;
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: black;
    background-color: #17ac8b;
}

#reset-button:active {
    transform: translateY(3px);
    font-size: 1.1rem;
    background-color: #0f9c6e;
}